body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: beige;
}

.container {
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
    overflow-wrap: anywhere;
}

li {
    padding: 8px 0;
    display: flex;
    align-items: center;
    max-width: 80%;
    border-bottom: 2px solid black;
}

p {
    max-width: 85%;
}

button {
    margin-left: 10px;
    padding: 4px 8px;
}

.checkbox {
    position: absolute;
    left: 68%;
}

.removeTaskButton {
    background-color: rgb(244, 132, 132);
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 70%;
}